# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# Large datasets (optional – keep small demo data)
data_large/
*.zip

# Streamlit cache
.streamlit/

# Output files
outputs/

# OS files
.DS_Store
Thumbs.db
